<launch>
<!-- arguments -->
  <arg name="model" default="$(find agv_description)/robots/agv_two_urg.urdf.xacro"/>
<!-- prameters -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
<!-- nodes -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
<!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv_description)/launch/config/urdf_navi.rviz" required="true" />
</launch>
